.home-carousel {
   position: relative;
   height: 95vh;
   overflow-x: scroll;
   overflow-y: hidden;
   grid-auto-flow: column;
   grid-auto-columns: 100%;
   scroll-behavior: smooth;
   scroll-snap-type: inline mandatory;
   scrollbar-width: none;      /* firefox */
}

.home-carousel > * {
   scroll-snap-align: center;
   scroll-snap-stop: always;
}

.home-carousel::-webkit-scrollbar{     /* webkit */
   display: none;
}

.home-carousel-placeholder {
   height: 100%;
   width: 100%;
}

.home-carousel-img {
   height: 100%;
   overflow: hidden;
   scroll-snap-align: start;
}

.home-carousel-img.women {
   object-position: 100% 100%;
}

.home-carousel-navigator {
   background-color: white;
   border-radius: 10px;
   width: min(80px, 20%);
   height: 8px;
   padding: 1px;
   z-index: 3;
   position: absolute;
   top: 79%;
   left: 50%;
   transform: translateX(-50%);
   display: flex;
   align-items: center;
}

.home-carousel-navigator div {
   background-color: black;
   border-radius: 10px;
   margin: 1px;
   width: 33%;
   height: 80%;
   transition: .2s;
}

.leftScrollBtn, .rightScrollBtn {
   display: none;
}

.home-main {
   position: absolute;
   height: 100vh;
   scroll-behavior: smooth;
   top: 83%;
   z-index: 10;
   background-color: white;
   box-shadow: 1px 1px 5px black;
   padding-bottom: 30%;
}

.home-main > *:not(.home-main-slideIndecator-div) {
   padding: 0 15px;
}

.home-main, .home-main-slideIndecator-div {
   border-radius: 18px;
}

.home-main-slideIndecator-div {
   position: -webkit-sticky;
   position: sticky;
   top: 0;
   z-index: 100;
   background-color: white;
   height: 15px;
   padding: 15px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.home-main-slideIndecator-p {
   position: relative;
}

.home-main-slideIndecator-p::after, .home-main-slideIndecator-p::before, .home-main-slideIndecator-p {
   background-color: rgba(0, 0, 0, 0.464);
   border-radius: 3px;
   width: 30px;
   height: 1px;
}

.home-main-slideIndecator-p::after, .home-main-slideIndecator-p::before {
   content: "";
   position: absolute;
}

.home-main-slideIndecator-p::after {
   top: 3.5px;
}

.home-main-slideIndecator-p::before {
   top: -3px;
}

.home-main-trend.cat {
   grid-template-columns: 4fr 5fr;
}

.home-main-trend {
   gap: 10px;
   margin-block: 13px;
   width: 100%;
}

.trends-placeholder{
   height: min(43vw, 240px);
   border-radius: 10px;
   overflow: hidden;
   background-color: rgba(177, 177, 177, 0.67);
}

.home-main-trend.cat .trends-placeholder {
   height: auto;
   border-radius: 18px;
}

.home-main-trend img {
   height: 100%;
}

.home-main-trend.cat:hover img {
   transform: scale(1.05);
}

.home-main-trend.cat p {
   padding: 10px;
}

.home-main-trend.cat:hover p {
   font-weight: 700;
}

.home-main-trend.items {
   grid-template-columns: repeat(3, 1fr);
   margin-block: 1.2rem;
}

.home-main-types {
   flex-wrap: wrap;
   gap: 5px;
   margin-inline: 7px;
   margin-block: 10px;
}

.home-main-items {
   grid-template-columns: 1fr 1fr;
   gap: 10px;
}

@media (min-width: 450px) {
   .home-main-items {
      grid-template-columns: repeat(3, 1fr);
   }
}


@media (min-width: 550px) {

   .home-carousel, .home-carousel-img {
      height: min(45vw, 420px);
   }

   .leftScrollBtn, .rightScrollBtn {
      display: inline;
      background-color: white;
      border: 1px solid black;
      border-radius: 0 50% 50% 0;
      width: 30px;
      height: 30px;
      padding: 5px;
      position: absolute;
      top: 25%;
      z-index: 1;
      cursor: pointer;
   }
   
   .leftScrollBtn {
      left: -1px;
   }
   
   .rightScrollBtn {
      right: -1px;
      transform: rotate(180deg);
   }

   .scrollBtnImg {
      width: 150%;
      height: 150%;
      transform: translate(-3px, -5px);
   }

   .home-main {
      position: relative;
      height: auto;
      border-radius: 0;
      box-shadow: 0 0 0;
      padding-block: 20px;
   }

   .home-main > *:not(.home-main-slideIndecator-div) {
      padding: 0 10%;
   } 

   .home-main-slideIndecator-div {
      display: none;
   }

   .home-main-trend.cat .trends-placeholder {
      height: min(28vw, 100px);
   }

   .home-main-items {
      grid-template-columns: repeat(3, 1fr);
   }

}

@media (min-width: 780px) {
   .home-main {
      padding-inline: 20%;
   }
}