footer {
   width: 100%;
   flex-wrap: wrap;
   flex-direction: column-reverse;
   align-items: center;
   justify-content: center;
   gap: 9vw;
   padding: 5%;
   box-shadow: 1px 1px 3px black;
   bottom: 0;
}

.footer-img {
   width: min(20%, 90px);
   aspect-ratio: 1/1;
}

.footer-text a {
   text-decoration: underline;
}

.footer-text a:hover {
   color: red;
}

@media (min-width: 500px) {
   footer {
      flex-direction: row;
   }
}